* {
    margin: 0;
    padding: 0;
}
.foto  img{
    width: 720px;
    height: -55px;
}
p {
    width: 300px;
    height: 360px;
    margin: 10px;
    padding: 600px;
}
.divcha {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    margin: -1000px;
}
h1 {
    text-align: center;
    align-items: center;
    font-size: 50px;
    margin-top: -1290px;
    padding-left: 60px;
    padding: 58px;
}

